.App-header {
  padding: 12px;
  display: flex;
}

.App-header h1.App-title {
  margin-left: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 32px;
  display: inline-block;
  align-self: center;
}

.App-title {
  font-size: 1.2em;
  display: inline-block;
  align-self: center;
}

