.App {
  font-family: sans-serif;
  height: 100vh;
}

.App-header {
  padding: 12px;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 32px;
  display: inline-block;
  align-self: center;
}

.App-title {
  font-size: 1.2em;
  display: inline-block;
  align-self: center;
}

.App-intro {
  font-size: large;
}

.App-container {
  display: flex;
  height: 85%;
}

/* Text to Speech Modal */
.text-to-speech {
  align-self: center; 
  margin: auto;
}

.text-to-speech h2.headline {
  display: block;
  font-size: 2em;
}

.text-to-speech input.main-input {
  display: block;
  width: 95%;
  height: 32px;
  padding-left: 12px;
  border-radius: 32px;
  margin: 24px auto 0;
}

.text-to-speech input.main-input:focus {
  border-radius: 0px;
}

.text-to-speech input.main-input::placeholder {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
